*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $baseFontSize;
  line-height: $baseFontSize;
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
  outline: none;
  border: none;
}
